.popup__content {
  width: 100%;
  max-width: 470px;
  margin: 155px auto 0; /*тут сделана центровка белого окошка в т.ч.,т.к. крестик уходит вправо за текущее окошко и белое остается в центре */
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 894px) {
  .popup__content {
    max-width: 400px;
    margin-top: 128px;
  }
}

@media screen and (max-width: 596px) {
  .popup__content {
    max-width: 282px;
    margin-top: 87px;
  }
}