.profile__info-about {
  margin: 0;
  color: white;
  font-family: 'Inter', 'Corbel', sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: 22px;
  font-size: 18px;
  justify-self: flex-start;
}

/*@media screen and (max-width: 767px) {
  .intro__title {
    width: 80%;
    line-height: 109%;
    font-size: 32px;
  }
}*/