.elements {
  padding: 0;
  max-width: 880px;
  margin: 0 auto 67px;
  display: grid;
  grid-template-columns: repeat(auto-fill, 282px); /*тут не совсем понял комментарий: Карточкам не стоит строго фиксировать высоту. Возможно имелось ввиду ширину,но тогда я не смогу приблизиться к макету (?) Пока остается подвешенным*/
  gap: 20px 16px;
  justify-content: center;
  list-style-type: none;
}

@media screen and (max-width: 894px) {
  .elements {
    margin-bottom: 55px;
  }
}

@media screen and (max-width: 596px) {
  .elements {
    min-width: 282px;
    margin-bottom: 48px;
  }
}