.popup__edit-form {
  width: 100%;
  max-width: 430px;
  background-color: white;
  border-radius: 10px;
  margin: 8px auto 0;
  box-shadow: 0 0 25px rgba(0,0,0,0.15);
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 894px) {
  .popup__edit-form {
    max-width: 380px;
    margin-top: 10px;
  }
}

@media screen and (max-width: 596px) {
  .popup__edit-form {
    max-width: 282px;
    margin-top: 16px;
  }
}